<span>
<span id="container">

<span class="flex detailsFont">
  <img class="productImgSize" src="../../assets/Turquoise_Matte_1_Resized_c76dd782-92a7-44ef-af05-dcf2a5bc5970.jpg">
  <span id="details">
    <span class="nameIiItem"><span class="productName">King Will Aurora 8mm Blue Celtic Dragon <br> Aurora Luminou Glow Black Titanium Wedding Ring for Uni</span></span>
    <hr>
    <span><span class="slogan">a one of a kind ring from mordor to control them all</span></span>
  <span>price:</span><span class="price">$1.99 golumn special</span><span>+ shipping fees to "country"</span>
    <div><del>Retail price:$2000.00</del></div>
    <input type="submit" value="BUY IT NOW!">
    <div class="marketingDetails">
      <ul>
        <li>Unique luminous ring, blue-green light glow in the dark.<br> Keep the rings in the sun or light will make it more brighter</li>
        <li>Exquisite craftsmanship on the smooth innerface with a <br>stunning black coated, which still provides awesomeness</li>
        <li>Quality titanium with fabulous blue dragon pattern<br>, perfect gift for wedding, engagement, anniversary.</li>
        <li>King Will's Free Jewelry box, save your giftwrap <br>service fee, and help you store the ring much safer & longer</li>
      </ul>
    </div>
  </span>

</span>

<div id="extraImages">

</div>

<div id="extraDetails">
  <div>delivery:<div>wait for golumn to die first</div></div>
  <div>dimensions:<div>2x2x2</div></div>
  <div>shipping weight:<div>20grams</div></div>
</div>

<div id="comments">comments section
  <br>;
  <span>comment</span> i liked this product its not shit<span></span>
</div>

</span>
