<div class="colorBar"></div>
 <header>
   <nav class="navBar">
     <div class="leftButtonContainer">
       <button class="nav__navBtn">ABOUT</button>
       <button class="nav__navBtn">PRODUCTS</button>
       <button class="nav__navBtn">CHECKOUT</button>
     </div>
     <div class="logo">RGB CENTER</div>
     <div class="rightButtonContainer">
       <button class="nav__navBtn">PRIVACY</button>
       <button class="nav__navBtn">DELIVERY</button>
       <button routerLink="/Login" class="nav__navBtn">LOGIN</button>
     </div>
   </nav>
   <h1>THE RGB PRODUCTS CENTER</h1>
 </header>

<body>
<!--<div id="placeholder">Hot Deals</div>-->
  <section id="hotDealsSection">
    <div id="textGrid">
      <div id="h2" >Products on sale now!</div>
    </div>

  <div id="dealsContainer">
    <div class="saleProduct1">
      <div class="saleBanner">
        <label class="saleText">30% OFF</label>
      </div>
      <img class="dealsProduct" src="../../assets/lamp.jpg">
    </div>
    <div class="saleProduct2">
      <div class="saleBanner">
        <label class="saleText">30% OFF</label>
      </div>
      <img class="dealsProduct" src="../../assets/ring.jpg">
    </div>
    <!--<p>amazing lamp you can buy it to impress your friends and be epic af</p>-->
    <div class="saleProduct3">
      <div class="saleBanner">
        <label class="saleText">30% OFF</label>
      </div>
      <img class="dealsProduct" src="../../assets/ring.jpg">
    </div>
    <!--<p> the ring has been created in the fires of mount doom  and worn by sauron the king of fire</p>-->
    <div class="saleProduct4">
      <div class="saleBanner">
        <label class="saleText">30% OFF</label>
      </div>
      <img class="dealsProduct" src="../../assets/lamp.jpg">
    </div>

    <!--<p>want to seem richer than your peers?  want everyone to admire your fap station?<br> this is the product for you</p>-->

    <!--<p>amazing lamp you can buy it to  impress your friends and be epic af</p>-->
    <!--<p> the ring has been created in the fires of mount doom and worn by sauron the king of fire</p>-->
  </div>
</section>
</body>
<section>
  <!--<div id="h2" class="colorfulBottomBorder">Check out even more awesome products!</div>-->
  <div class="lineUpCenter">
    <div class="fillerText">Check out even more incrediable merchandice!</div>
  </div>

  <div class="categoriesContainer">

    <div class="braceletsCat">
      <span class="catText posAbsolute">{{CatText}}</span>
      <br>
      <button class="catButton posAbsolute">SHOP NOW</button>
      <img class="catPic" src="../../assets/wp2465552-glow-wallpapers.jpg">
    </div>

    <div class="ringsCat">
      <img class="leftProductPic productPicSize" src="../../assets/glow%20in%20the%20dark%20shirt.jpg">
    </div>

    <div class="necklaceCat">
      <img class="rightProductPic productPicSize" src="../../assets/glow%20in%20the%20dark%20shirt.jpg">
    </div>
  </div>
</section>


